/build-sim/
/firmware/build/
/firmware/sdkconfig
/firmware/sdkconfig.old
/firmware/managed_components/
/firmware/dependencies.lock
/.vs/
/out/
CMakeUserPresets.json
CMakeCache.txt
*.user
*.sdf
*.suo
*.VC.db
*.VC.opendb
